Repository vjpandian/dynamic-config-custom-exec-tests: changes, and which CircleCI parameters are due for each by the changed paths.
All: tf-deploy, helm-deploy

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: vjpandian/path-filtering-orb@0.2.0
workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          pre-steps:
            - checkout
            - run:
                name: print some pre-step here
                command: |
                  echo "hello"
          base-revision: main
          executor-type: "default-machine"
          config-path: .circleci/continue-config.yml
          mapping: |
            terraform/.* tf-deploy true
            helm/.* helm-deploy true

Update config.yml
  .circleci/config.yml
Due: none

Updated config.yml
  .circleci/config.yml
Due: none

Update continue-config.yml
  .circleci/continue-config.yml
Due: none

Update hello.txt
  terraform/hello.txt
Due: tf-deploy

Update foo.txt
  helm/foo.txt
Due: helm-deploy

Update config.yml - update domain param
  .circleci/config.yml
Due: none

Update config.yml - update base revision
  .circleci/config.yml
Due: none

Update and rename hello.txt to tf-test.txt
  terraform/hello.txt
  terraform/tf-test.txt
Due: tf-deploy

Create workflows.yml
  .circleci/workflows.yml
Due: none

Update config.yml - add continuation
  .circleci/config.yml
Due: none

Update workflows.yml
  .circleci/workflows.yml
Due: none

Use pipeline parameters for images
  .circleci/config.yml
Due: none

Update README.md details
  README.md
Due: none

Update README.md [skip ci]
  README.md
Due: none

Update README.md
  README.md
Due: none
